@using SeguimientoEgresados.Models.ViewModels
@model SeguimientoEgresados.Utils.ListaPaginada<VerVacanteViewModel>

@if (Model.Count <= 0)
{
    <div class="col-12 mb-3 p-4 animate__animated animate__faster animate__fadeIn">
        <h5 class="text-center text-muted"><i class="fa-solid fa-xl fa-magnifying-glass mx-2"></i>Sin resultados</h5>
    </div>
}

@foreach (VerVacanteViewModel vacante in Model)
{
    <div class="col-12 mb-3 animate__animated animate__faster animate__fadeIn">
        <div class="card">
            <div class="card-header">
                <img src="@vacante.LogoEmpresa" class="border border-3 rounded-circle" height="32" width="32" alt="Imagen de @vacante.NombreEmpresa"/>
                @(vacante.NombreEmpresa)
                <i class="fa-regular fa-star float-end"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title">@vacante.Titulo</h5>
                <p class="card-text">@vacante.Descripcion</p>
                <div class="row justify-content-between text-wrap">
                    <nav class="col-12 col-md-auto" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                        <ol class="breadcrumb text-secondary fs-6">
                            <li class="breadcrumb-item"><i class="fa-solid fa-handshake-simple mx-2"></i>@vacante.TipoContrato</li>
                            <li class="breadcrumb-item"><i class="fa-solid fa-person mx-2"></i>@vacante.Modalidad</li>
                            <li class="breadcrumb-item"><i class="fa-solid fa-clock mx-2"></i>@vacante.Horario</li>
                        </ol>
                    </nav>
                    <nav class="col-12 col-md-auto" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                        <ol class="breadcrumb text-success fs-6">
                            <li class="ofertas breadcrumb-item text-wrap" data-datos="@vacante.Ofertas"><i class="fa-solid fa-circle-dollar-to-slot fa-xl mx-2"></i></li>
                        </ol>
                    </nav>
                </div>
                <a onclick="verDetalles(this)" class="btn btn-primary float-end" data-url="@Url.Action("VerDetallesVacante", new { id = vacante.Id })">Ver más detalles<i class="fa-solid fa-arrow-up-right-from-square mx-2"></i></a>
            </div>
        </div>
    </div>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "btn-secondary disabled" : "btn-primary";
    var nextDisabled = !Model.HasNextPage ? "btn-secondary disabled" : "btn-primary";
}

<div class="col-12 d-flex justify-content-end">
    <a class="btn @prevDisabled mx-2"
       onclick="actualizarTabla('vacantes', @(Model.PageIndex - 1))">
        Anterior
    </a>
    <a class="btn @nextDisabled"
       onclick="actualizarTabla('vacantes', @(Model.PageIndex + 1))">
        Siguiente
    </a>
</div>