@model SeguimientoEgresados.Utils.ListaPaginada<EmpresaViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"><a class="text-primary text-decoration-none manita" onclick='actualizar(1, "@ViewData["NombreSort"]")'>Nombre</a></th>
            <th scope="col"><a class="text-primary text-decoration-none manita" onclick='actualizar(1, "@ViewData["RepSort"]")'>Representante</a></th>
            <th scope="col">RFC</th>
            <th scope="col">Correo</th>
            <th scope="col">Teléfono</th>
            <th scope="col"><a class="text-primary text-decoration-none manita" onclick='actualizar(1, "@ViewData["RegSort"]")'>Registro</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr class="manita">
                <td>@e.Nombre</td>
                <td>@e.Representante</td>
                <td>@e.Rfc</td>
                <td>@e.Correo</td>
                <td>@e.Telefono</td>
                <td>@e.FechaRegistro</td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "btn-secondary disabled" : "btn-primary";
    var nextDisabled = !Model.HasNextPage ? "btn-secondary disabled" : "btn-primary";
}

<a class="btn @prevDisabled"
   onclick="actualizar(@(Model.PageIndex - 1))">
    Anterior
</a>
<a class="btn @nextDisabled"
   onclick="actualizar(@(Model.PageIndex + 1))">
    Siguiente
</a>