@model Reporte

<!-- Modal -->
<div class="modal fade" id="modalVerReporte" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@Model.Titulo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6><i class="fa-solid fa-circle-info me-2"></i>Descrición</h6>
        <textarea class="form-control mb-3" rows="6" readonly>@Model.Descripcion</textarea>
        <h6><i class="fa-solid fa-location-crosshairs me-2"></i>Área de envío</h6>
        <input class="form-control mb-3" type="text" value="@Model.Area" readonly>
        <h6><i class="fa-solid fa-user me-2"></i>Usuario</h6>
        <input class="form-control mb-3" type="text" value="@Model.Usuario" readonly>
        <p class="text-muted text-end"><small>@Model.Fecha</small></p>
      </div>
      @if(!bool.Parse(Model.Revisado)){
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="revisarReporte(this, @Model.Id)">Revisado<i class="fa-solid fa-clipboard-check ms-2"></i></button>
      </div>
      }
    </div>
  </div>
</div>

