@model Usuario

@{
    ViewBag.Title = "Administrativo";
    int item = (int)(ViewData["SidebarItem"] ?? 1);
}

@* <h3>Bienvenido al sistema @Html.DisplayFor(m => m.Nombre)</h3> *@
<div class="container-fluid p-4" id="main-view">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3">
            @* @await Html.PartialAsync("SidebarAdministrativo") *@
            <div class="list-group">
                <a href="#" id="inicio" data-url="@Url.Action("General")" class='list-group-item list-group-item-action active' aria-current="true">
                    <i class="fa-regular fa-file-lines mx-2"></i>General
                </a>
                <a href="#" data-url="@Url.Action("Egresados")" class='list-group-item list-group-item-action '>
                    <i class="fa-solid fa-graduation-cap mx-2"></i>Egresados
                </a>
                <a href="#" data-url="@Url.Action("Empleadores")" class='list-group-item list-group-item-action '>
                    <i class="fa-solid fa-briefcase mx-2"></i>Empleadores
                </a>
                <a href="#" data-url="@Url.Action("CambiosPassword")" class='list-group-item list-group-item-action '>
                    <i class="fa-solid fa-unlock mx-2"></i>Cambios de contraseña
                </a>
                <a href="#" data-url="@Url.Action("Reportes")" class='list-group-item list-group-item-action '>
                    <i class="fa-solid fa-comment mx-2"></i>Quejas y reportes
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 col-xl-10 border rounded p-2 d-flex justify-content-center" id="vista">
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function (){
        
        let lastItem = $("#inicio");
        const firstUrl = $(lastItem).data('url');
        $.get(firstUrl).done(function (data){
            $('#vista').html(data);
        });
        
        $(".list-group-item").click(function () {
            
            if ($(this).is(lastItem))
                return;
            
            const url = $(this).data('url');
            
            $(this).addClass('active');
            if (lastItem != null)
                $(lastItem).removeClass('active');
            
            lastItem = $(this);
            
            $("#vista").html('<div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>');
            $.get(url).done(function (data){
                $('#vista').html(data);
            });
        });
    });
</script>

@* <script> *@
@*     window.addEventListener('DOMContentLoaded', (event) => { *@
@*     document.getElementById("main-view").scrollIntoView({block:"start"}); *@
@*     }); *@
@* </script> *@