@model IEnumerable<VacanteEmpleadorViewModel>

<div class="col-12">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Postulantes</th>
            <th scope="col">Publicación</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (VacanteEmpleadorViewModel v in Model)
        {
            <tr class="manita" onclick="verVacante(@v.Id)">
                <td>@(v.Titulo)</td>
                <td class="text-center">@(v.Postulantes)</td>
                <td>@(v.Fecha)</td>
                <td><button class="btn btn-outline-danger" onclick="clickActionBtn(this); eliminarVacante(this);" data-id="@v.Id"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="modelVerVacante"></div>
