@model string;
<ul class="nav nav-pills justify-content-center" style="background-color: #1A386A">
    <li class="nav-item"><a class='nav-link @(Model == "" ? "activeSec" : "" )' aria-current="page" asp-area="" asp-controller="Inicio" asp-action="Index"><i class="fa-solid fa-house me-2"></i>Inicio</a></li>
    <li class="nav-item"><a class='nav-link @(Model == "Egresados" ? "activeSec" : "" )' aria-current="page" asp-area="Egresados" asp-controller="Inicio" asp-action="Index"><i class="fa-solid fa-graduation-cap me-2"></i>Egresados</a></li>
    <li class="nav-item"><a class='nav-link @(Model == "Empleadores" ? "activeSec" : "" )' asp-area="Empleadores" asp-controller="Inicio" asp-action="Index"><i class="fa-solid fa-briefcase me-2"></i>Empleadores</a></li>
    <li class="nav-item"><a class='nav-link @(Model == "BolsaDeTrabajo" ? "activeSec" : "" )' asp-area="BolsaDeTrabajo" asp-controller="Inicio" asp-action="Index"><i class="fa-solid fa-sack-dollar me-2"></i>Bolsa de trabajo</a></li>
    <li class="nav-item"><a class='nav-link @(Model == "Galeria" ? "activeSec" : "" )' asp-area="Galeria" asp-controller="Inicio" asp-action="Index"><i class="fa-solid fa-image me-2"></i>Galería</a></li>
    <li class="nav-item"><a class='nav-link @(Model == "About" ? "activeSec" : "" )' asp-area="About" asp-controller="Inicio" asp-action="Index"><i class="fa-solid fa-circle-question me-2"></i>Acerca de</a></li>
</ul>